## apple
.DS_Store

## compiled/generated
net
*.o

## python
__pycache__
venv/

## ide/editor
# if you contribute using a tool that creates folders
# or files like these, please update this section
.idea
*.iml
.vscode
.ccls-cache
.metadata
